<div class="content-padding container-externo" id="container-frequencia">
    <div class="d-flex align-items-center justify-content-center" *ngIf="quantAulasTelaMax <= 2">
        <button mat-icon-button class="md-fab md-mini" matTooltip="Trocar divisão"
            (click)="houveModificacao ? focarPersistencia() : trocarDivisao($event)">
            <mat-icon>view_week</mat-icon>
        </button>
        <button mat-icon-button class="md-fab md-mini" matTooltip="Adiciona novo dia de aula"
            (click)="houveModificacao ? focarPersistencia() : adicionarAulaNovoDia($event)"
            [disabled]="deveDesabilitarBotaoNovoDiaDeAula" permission
            permission-only="'frequenciaDiariaBBean.salvar'">
            <mat-icon>add_to_photos</mat-icon>
        </button>
        <button mat-icon-button class="md-fab md-mini" matTooltip="Aulas anteriores"
            (click)="houveModificacao ? focarPersistencia() : rolarFrequencia('esq')" [disabled]="!botaoEsquerda">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <button mat-icon-button class="md-fab md-mini" matTooltip="Ir para data"
            (click)="houveModificacao ? focarPersistencia() : irParaData($event)"
            [disabled]="!(botaoEsquerda || botaoDireita)">
            <mat-icon>today</mat-icon>
        </button>
        <button mat-icon-button class="md-fab md-mini" matTooltip="Próximas aulas"
            (click)="houveModificacao ? focarPersistencia() : rolarFrequencia('dir')" [disabled]="!botaoDireita">
            <mat-icon>arrow_forward</mat-icon>
        </button>
    </div>

    <table cellpadding="0" cellspacing="0" border="0" class="tabela-alunos" id="tabela-frequencia-cab">
        <colgroup>
            <col style="width:23px">
            <col style="width:23px">
            <col style="width:45%">
            <ng-template ngFor let-aula [ngForOf]="aulas" let-i="index">
                <col *ngIf="i >= indiceInicial && i < (indiceInicial + quantAulasTelaMax)">
            </ng-template>
            <col style="width:35px">
        </colgroup>
        <thead>
            <tr>
                <th class="text-right">O</th>
                <th class="text-center">S</th>
                <th class="text-left nome-aluno-header">
                    <div>Nome</div>
                    <div class="row adicionar-aula" *ngIf="quantAulasTelaMax > 2">
                        <div class="col-4">
                            <button class="md-fab md-mini" matTooltip="Trocar divisão"
                                (click)="houveModificacao ? focarPersistencia() : trocarDivisao($event)">
                                <mat-icon class="material-icons">view_week</mat-icon>
                            </button>
                            <button class="md-fab md-mini" matTooltip="Adiciona novo dia de aula"
                                (click)="houveModificacao ? focarPersistencia() : adicionarAulaNovoDia($event)"
                                ng-disabled="deveDesabilitarBotaoNovoDiaDeAula" permission
                                permission-only="'frequenciaDiariaBBean.salvar'">
                                <mat-icon class="material-icons">add_to_photos</mat-icon>
                            </button>
                        </div>
                        <div class="col">
                            <button class="md-fab md-mini" matTooltip="Aulas anteriores"
                                (click)="houveModificacao ? focarPersistencia() : rolarFrequencia('esq')"
                                ng-disabled="!botaoEsquerda">
                                <mat-icon class="material-icons">arrow_back</mat-icon>
                            </button>
                            <button class="md-fab md-mini" matTooltip="Ir para data"
                                (click)="houveModificacao ? focarPersistencia() : irParaData($event)"
                                ng-disabled="!(botaoEsquerda || botaoDireita)">
                                <mat-icon class="material-icons">today</mat-icon>
                            </button>
                            <button class="md-fab md-mini" matTooltip="Próximas aulas"
                                (click)="houveModificacao ? focarPersistencia() : rolarFrequencia('dir')"
                                ng-disabled="!botaoDireita">
                                <mat-icon class="material-icons">arrow_forward</mat-icon>
                            </button>
                        </div>
                    </div>
                </th>
                <ng-template ngFor let-aula [ngForOf]="aulas" let-i="index">
                    <th class="data-aula text-center" [ngClass]="{ ativo: (indiceAtivo === i) }"
                        *ngIf="i >= indiceInicial && i < (indiceInicial + quantAulasTelaMax)">

                        <div class="dia-aula" *ngIf="exibirDiaAula">
                            <mat-button class="mat-icon-button" style="width: 50px;">
                                {{aula.data | date:'dd/MM'}}
                                <br />
                                <sup>{{ aula.ordem > 1 ? aula.ordem : ''}}</sup>
                            </mat-button>
                        </div>

                        <md-menu md-offset="0 -7">
                            <mat-button matTooltip="Ações" class="mat-icon-button"
                                (click)="houveModificacao ? focarPersistencia() : $mdMenu.open($event)"
                                style="width: 50px;" permission permission-only="'frequenciaDiariaBBean.salvar'">
                                <md-tooltip>Clique para opções</md-tooltip>
                                {{aula.data | date:'dd/MM'}}
                                <br />
                                <sup>{{ aula.ordem > 1 ? aula.ordem : ''}}</sup>
                            </mat-button>
                            <md-menu-content width="3">
                                <md-menu-item>
                                    <mat-button (click)="ativarAula($event, aula, $index, false)">
                                        <md-tooltip md-direction="left">Ativa a aula selecionada para realizar a
                                            chamada</md-tooltip>
                                        <div layout="row">
                                            <p flex>Ativar aula</p>
                                            <mat-icon md-menu-align-target class="material-icons icone-menu">edit</mat-icon>
                                        </div>
                                    </mat-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <mat-button (click)="dialogPlanoAula($event, aula)">
                                        <md-tooltip md-direction="left">Abre a janela de preenchimento do diário de conteúdo
                                            (plano de aula)</md-tooltip>
                                        <div layout="row">
                                            <p flex>Diário de Conteúdo</p>
                                            <mat-icon md-menu-align-target class="material-icons icone-menu">event</mat-icon>
                                        </div>
                                    </mat-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <mat-button (click)="removerAula($event, aula, $index)">
                                        <md-tooltip md-direction="left">Apaga/remove a aula selecionada</md-tooltip>
                                        <div layout="row">
                                            <p flex>Remover aula</p>
                                            <mat-icon md-menu-align-target
                                                class="material-icons icone-menu">remove_circle_outline</mat-icon>
                                        </div>
                                    </mat-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </th>
                </ng-template>
                <th class="data-aula text-center">
                    <div class="texto-vertical">Total</div>
                </th>
            </tr>
        </thead>
    </table>
    <table cellpadding="0" cellspacing="0" border="0" class="tabela-alunos" id="tabela-frequencia-corpo"
        style="border-top:none;">
        <thead>
            <col style="width:23px">
            </col>
            <col style="width:23px">
            </col>
            <col style="width:45%">
            </col>
            <col ng-repeat="aula in aulas track by aula.$$id"
                ng-if="$index >= indiceInicial && $index < (indiceInicial + quantAulasTelaMax)">
            </col>
            <col style="width:35px">
            </col>
        </thead>
        <tbody>
            <tr ng-repeat="aluno in lista">
                <td ng-bind="aluno.nu_ordem" class="text-right"
                    ng-class="{'resolverPendencia': aluno.resolverPendencia}"></td>
                <td ng-bind="aluno.status" class="text-center"
                    ng-class="{'resolverPendencia': aluno.resolverPendencia}">
                    <md-tooltip md-direction="right">
                        {{aluno.situacaoStatus}}
                    </md-tooltip>
                </td>
                <td ng-attr-id="aluno-id-{{aluno.id}}" class="text-left nome-aluno"
                    ng-class="{'resolverPendencia': aluno.resolverPendencia}">
                    {{aluno.nome}}
                    <div ng-if="aluno.nomeSocial !== null && aluno.nomeSocial !== '' "
                        style="margin-top:-2%; font-size:10px; font-weight:bold;">
                        ({{aluno.nomeSocial}})
                    </div>
                    <div ng-if="aluno.status != 'R' && aluno.alunoVeioDeRemanejamento"
                        style="margin-top:-2%; font-size:10px; font-weight:bold; color:#8bc34a;">
                        (veio de remanejamento)
                    </div>
                </td>
                <td ng-repeat="aula in aulas track by aula.$$id"
                    ng-if="$index >= indiceInicial && $index < (indiceInicial + quantAulasTelaMax)"
                    ng-class="{ ativo: (indiceAtivo === $index) }" class="text-center">
                    <table>
                        <tr>
                            <div ng-repeat="f in aluno.frequencia | filter:{ 'programacaoDivisaoAulaId': aula.id }:true"
                                style="border: none; width: 35px; display: inline; white-space: nowrap;"
                                class="text-center" ng-class="{'resolverPendencia': aluno.resolverPendencia}">
                                <cd-botao-chamada frequencia="f" aluno-modificado="alunoModificado(aluno, true)"
                                    atualizar-faltas="atualizarFaltas(aluno, true)"
                                    disabled="f.desabilitado || indiceAtivo !== aula.$$id"
                                    ng-hide="f.indisponivel || (f.flPresente === null && indiceAtivo !== aula.$$id)">
                                </cd-botao-chamada>
                            </div>
                        </tr>
                    </table>
                </td>
                <td class="text-center" ng-class="{'resolverPendencia': aluno.resolverPendencia}">
                    <md-input-container style="margin: 0 0;" *ngIf="aluno.frequencia">
                        <mat-button class="mat-icon-button total-diario" matTooltip="Corrigir Frequência"
                            (click)="corrigirTotalFaltas($event, aluno)"
                            ng-class="{'totalDiferente' : !aluno.alunoVeioDeRemanejamento && aluno.qtdDifRestDiario() !== 0 && aluno.status === 'A'}"
                            ng-disabled="aluno.alunoVeioDeRemanejamento || aluno.qtdDifRestDiario() === 0 || aluno.status !== 'A'">
                            {{aluno.qtdFaltasVeioRest}}
                            <md-tooltip md-direction="left" *ngIf="{{ aluno.qtdDifRestDiario() !== 0 }}">
                                Clique para corrigir o total de faltas conforme os lançamento do diário online.
                            </md-tooltip>
                        </mat-button>
                    </md-input-container>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="text-right" *ngIf="houveModificacao">
        <mat-button id="botaoSalvarFrequencia" class="md-raised md-primary botao-salvar" (click)="salvarDiaAula()"
            permission permission-only="'frequenciaDiariaBBean.salvar'">
            <mat-icon class="material-icons">done_all</mat-icon>
            &nbsp; SALVAR FREQUÊNCIA
        </mat-button>
        <mat-button id="botaoDescartar" class="md-raised md-warn botao-salvar" (click)="descartarAlteracoes()">
            <mat-icon class="material-icons">cached</mat-icon>
            &nbsp; DESCARTAR ALTERAÇÕES
        </mat-button>
    </div>
</div>