<div class="content-padding container-externo" id="container-frequencia">
    <div class="d-flex align-items-center justify-content-center" *ngIf="quantAulasTelaMax <= 2">
        <button mat-icon-button class="md-fab md-mini" matTooltip="Trocar divisão"
            (click)="houveModificacao ? focarPersistencia() : trocarDivisao($event)">
            <mat-icon>view_week</mat-icon>
        </button>
        <button *ngIf="permissoes.indexOf('frequenciaDiariaBBean.salvar') > -1"
            mat-icon-button class="md-fab md-mini" matTooltip="Adiciona novo dia de aula"
            (click)="houveModificacao ? focarPersistencia() : adicionarAulaNovoDia($event)"
            [disabled]="deveDesabilitarBotaoNovoDiaDeAula">
            <mat-icon>add_to_photos</mat-icon>
        </button>
        <button mat-icon-button class="md-fab md-mini" matTooltip="Aulas anteriores"
            (click)="houveModificacao ? focarPersistencia() : rolarFrequencia('esq')" [disabled]="!botaoEsquerda">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <button mat-icon-button class="md-fab md-mini" matTooltip="Ir para data"
            (click)="houveModificacao ? focarPersistencia() : irParaData($event)"
            [disabled]="!(botaoEsquerda || botaoDireita)">
            <mat-icon>today</mat-icon>
        </button>
        <button mat-icon-button class="md-fab md-mini" matTooltip="Próximas aulas"
            (click)="houveModificacao ? focarPersistencia() : rolarFrequencia('dir')" [disabled]="!botaoDireita">
            <mat-icon>arrow_forward</mat-icon>
        </button>
    </div>

    <table cellpadding="0" cellspacing="0" border="0" class="tabela-alunos" id="tabela-frequencia-cab" style="  table-layout: fixed !important">
        <colgroup>
            <col style="width:23px">
            <col style="width:23px">
            <col style="width:45%">
            <ng-template ngFor let-aula [ngForOf]="aulas" let-i="index">
                <col *ngIf="i >= indiceInicial && i < (indiceInicial + quantAulasTelaMax)">
            </ng-template>
            <col style="width:35px">
        </colgroup>
        <thead>
            <tr>
                <th class="text-right">O</th>
                <th class="text-center">S</th>
                <th class="text-left nome-aluno-header">
                    <div>Nome</div>
                    <div class="row adicionar-aula" *ngIf="quantAulasTelaMax > 2">
                        <div class="col-4 d-flex">
                            <button mat-icon-button class="md-fab md-mini" matTooltip="Trocar divisão"
                                (click)="houveModificacao ? focarPersistencia() : trocarDivisao($event)">
                                <mat-icon class="material-icons">view_week</mat-icon>
                            </button>
                            <button mat-icon-button *ngIf="permissoes.indexOf('frequenciaDiariaBBean.salvar') > -1"
                                class="md-fab md-mini" matTooltip="Adiciona novo dia de aula"
                                (click)="houveModificacao ? focarPersistencia() : adicionarAulaNovoDia($event)"
                                [disabled]="deveDesabilitarBotaoNovoDiaDeAula">
                                <mat-icon class="material-icons">add_to_photos</mat-icon>
                            </button>
                        </div>
                        <div class="col">
                            <button mat-icon-button class="md-fab md-mini" matTooltip="Aulas anteriores"
                                (click)="houveModificacao ? focarPersistencia() : rolarFrequencia('esq')"
                                [disabled]="!botaoEsquerda">
                                <mat-icon class="material-icons">arrow_back</mat-icon>
                            </button>
                            <button mat-icon-button class="md-fab md-mini" matTooltip="Ir para data"
                                (click)="houveModificacao ? focarPersistencia() : irParaData($event)"
                                [disabled]="!(botaoEsquerda || botaoDireita)">
                                <mat-icon class="material-icons">today</mat-icon>
                            </button>
                            <button mat-icon-button class="md-fab md-mini" matTooltip="Próximas aulas"
                                (click)="houveModificacao ? focarPersistencia() : rolarFrequencia('dir')"
                                [disabled]="!botaoDireita">
                                <mat-icon class="material-icons">arrow_forward</mat-icon>
                            </button>
                        </div>
                    </div>
                </th>
                <ng-template ngFor let-aula [ngForOf]="aulas" let-i="index">
                    <th class="data-aula text-center p-0" [ngClass]="{ ativo: (indiceAtivo === i) }"
                        *ngIf="i >= indiceInicial && i < (indiceInicial + quantAulasTelaMax)">

<!--                        <div class="dia-aula" *ngIf="exibirDiaAula">-->
<!--                            <button mat-button class="mat-icon-button" style="width: 50px;">-->
<!--                                {{aula.data | date:'dd/MM'}}-->
<!--                                <br />-->
<!--                                <sup>{{ aula.ordem > 1 ? aula.ordem : ''}}</sup>-->
<!--                            </button>-->
<!--                        </div>-->

                        <button *ngIf="permissoes.indexOf('frequenciaDiariaBBean.salvar') > -1"
                            mat-button matTooltip="Ações" class="mat-icon-button"
                            #trigger="matMenuTrigger" [matMenuTriggerFor]="menu"
                            (click)="houveModificacao ? focarPersistencia() : trigger.openMenu()"
                            style="width: 50px;">
                            {{aula.data | date:'dd/MM'}}
                            <br />
                            <sup>{{ aula.ordem > 1 ? aula.ordem : ''}}</sup>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="ativarAula(aula, i, false)"
                                matTooltip="Ativa a aula selecionada para realizar a chamada">
                                <mat-icon class="material-icons">edit</mat-icon>
                                <span>Ativar aula</span>
                            </button>
                            <button mat-menu-item (click)="dialogPlanoAula($event, aula)"
                                matTooltip="Abre a janela de preenchimento do diário de conteúdo (plano de aula)">
                                <mat-icon class="material-icons">event</mat-icon>
                                <span>Diário de conteúdo</span>
                            </button>
                            <button mat-menu-item (click)="removerAula($event, aula, i)"
                                matTooltip="Apaga/remove a aula selecionada">
                                <mat-icon class="material-icons">remove_circle_outline</mat-icon>
                                <span>Remover aula</span>
                            </button>
                        </mat-menu>
                    </th>
                </ng-template>
                <th class="data-aula text-center">
                    <div class="texto-vertical">Total</div>
                </th>
            </tr>
        </thead>
    </table>
    <table cellpadding="0" cellspacing="0" border="0" class="tabela-alunos" id="tabela-frequencia-corpo"
        style="border-top:none;">
        <colgroup>
          <col style="width:23px">
          <col style="width:23px">
          <col style="width:45%">
          <ng-template ngFor let-aula [ngForOf]="aulas" let-i="index">
            <col *ngIf="i >= indiceInicial && i < (indiceInicial + quantAulasTelaMax)">
          </ng-template>
          <col style="width:35px">
        </colgroup>
        <tbody>
            <tr *ngFor="let aluno of lista">
                <td class="text-center" [ngClass]="{'resolverPendencia': aluno.resolverPendencia}">
                    {{ aluno.nu_ordem }}
                </td>
                <td class="text-center" [ngClass]="{'resolverPendencia': aluno.resolverPendencia}"
                    [matTooltip]="aluno.situacaoStatus" >
                    {{ aluno.status }}
                </td>
                <td id="aluno-id-{{aluno.id}}" class="text-left nome-aluno"
                    [ngClass]="{'resolverPendencia': aluno.resolverPendencia}" >
                    {{aluno.nome}}
                    <div *ngIf="aluno.nomeSocial !== null && aluno.nomeSocial !== '' "
                        style="margin-top:-2%; font-size:10px; font-weight:bold;">
                        ({{aluno.nomeSocial}})
                    </div>
                    <div *ngIf="aluno.status != 'R' && aluno.alunoVeioDeRemanejamento"
                        style="margin-top:-2%; font-size:10px; font-weight:bold; color:#8bc34a;">
                        (veio de remanejamento)
                    </div>
                </td>
                <ng-template ngFor let-aula [ngForOf]="aulas" let-i="index">
                    <td *ngIf="i >= indiceInicial && i < (indiceInicial + quantAulasTelaMax)"
                        [ngClass]="{ ativo: (indiceAtivo === i) }" class="text-center">
                        <table class="mx-auto">
                            <tr>
                                <div *ngFor="let f of aluno.frequencia;"
                                    style="border: none; width: 35px; display: inline; white-space: nowrap;"
                                    class="text-center" [ngClass]="{'resolverPendencia': aluno.resolverPendencia}">
                                    <app-botao-chamada *ngIf="f && f.programacaoDivisaoAulaId == aula.id" [aula]="f"
                                        (alunoModificado)="alunoModificado(aluno)" (atualizarFaltas)="atualizarFaltas(aluno)"
                                        [disabled]="f.desabilitado || indiceAtivo !== i"
                                        [hidden]="f.indisponivel || (f.flPresente === null && indiceAtivo !== i)">
                                    </app-botao-chamada>
                                </div>
                            </tr>
                        </table>
                    </td>
                </ng-template>
                <td class="text-center" [ngClass]="{'resolverPendencia': aluno.resolverPendencia}">
                    <div *ngIf="aluno.frequencia">
                        <span class="total-diario" (click)="corrigirTotalFaltas($event, aluno)"
                            [matTooltip]="aluno.qtdDifRestDiario() !== 0 ? 'Clique para corrigir o total de faltas conforme os lançamento do diário online.' : 'Corrigir Frequência'"
                            [ngClass]="{'totalDiferente' : !aluno.alunoVeioDeRemanejamento && aluno.qtdDifRestDiario() !== 0 && aluno.status === 'A'}">
                            {{aluno.qtdFaltasVeioRest}}
                        </span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="text-right" *ngIf="houveModificacao">
        <button mat-raised-button id="botaoSalvarFrequencia" class="md-raised md-primary botao-salvar" (click)="salvarDiaAula()"
            *ngIf="permissoes.indexOf('frequenciaDiariaBBean.salvar') > -1">
            <mat-icon class="material-icons">done_all</mat-icon>
            &nbsp; SALVAR FREQUÊNCIA
        </button>
        <button mat-raised-button id="botaoDescartar" class="md-raised md-warn botao-salvar" (click)="descartarAlteracoes()">
            <mat-icon class="material-icons">cached</mat-icon>
            &nbsp; DESCARTAR ALTERAÇÕES
        </button>
    </div>
</div>
