<div mat-dialog-title aria-label="Criar novo dia de aula" class="irParaDataModal">
    <div class="md-toolbar-tools">
        <h2>Novo dia de aula</h2>
        <span class="flex-grow-1"></span>
        <button mat-icon-button class="md-icon-button" (click)="fecharJanela()">
            <mat-icon class="material-icons icone-menu" aria-label="Fechar janela">close</mat-icon>
        </button>
    </div>
</div>
<div mat-dialog-content class="conteuddo-centralizado">
    <div class="container-descricao card-info-diario">
        <mat-form-field class="w-100">
            <mat-label>Data</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="dataAula">
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="salvarAula()" class="md-primary">Salvar</button>
    <button mat-button (click)="fecharJanela()" class="md-primary">Cancelar</button>
</div>