@import '/src/assets/css/diario.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.loading-principal {
    /* Blur */
    filter: blur(10px);
    -webkit-filter: blur(10px);
}