@import '/src/assets/css/diario.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.mat-mdc-snack-bar-container {
    &.md-success-toast-theme {
      --mdc-snackbar-container-color: green;
      --mat-mdc-snack-bar-button-color: #fff;
      --mdc-snackbar-supporting-text-color: #fff;
    }

    &.md-error-toast-theme {
      --mdc-snackbar-container-color: red;
      --mat-mdc-snack-bar-button-color: #fff;
      --mdc-snackbar-supporting-text-color: #fff;
    }
}