<div mat-dialog-title>
    <button mat-icon-button (click)="onNoClick()" style="float: right;">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div mat-dialog-content>
    <div class="container-descricao card-info-diario">
        <div class="row linha">
            <div class="col-12 col-md-4">
                <span class="text-muted">Escola</span>
                <p>{{ instituicao?.nome|notNull }}</p>
            </div>
            <div class="col-12 col-md-4">
                <span class="text-muted">Período Letivo</span>
                <p>{{ periodo?.nome|notNull }}</p>
            </div>
            <div class="col-12 col-md-2">
                <span class="text-muted">Turma</span>
                <p>{{ turma?.nome|notNull }}</p>
            </div>
            <div class="col-12 col-md-2">
                <span class="text-muted">Turno</span>
                <p>{{ turma?.turno?.nome|notNull }}</p>
            </div>
        </div>
        <div class="row linha">
            <div class="col-12 col-md-4">
                <span class="text-muted">Etapa</span>
                <p>{{ turma?.etapa?.nome|notNull }}</p>
            </div>
            <div class="col-12 col-md-4">
                <span class="text-muted">Disciplina</span>
                <p>{{ disciplina?.nome|notNull }}</p>
            </div>
            <div class="col-12 col-md-4">
                <span class="text-muted">Divisão</span>
                <p>{{ divisao?.nome|notNull }}</p>
            </div>
        </div>
    </div>

    <mat-tab-group [selectedIndex]="tabSelecionada" #tabs="matTabGroup" mat-stretch-tabs="false"
        mat-align-tabs="start" class="mt-3">
        <mat-tab [disabled]="abaFrequencia" label="FREQUÊNCIA">
            <app-frequencia [lista]="alunos" [aulas]="aulas" [diario]="dialogRef"></app-frequencia>
        </mat-tab>
        <mat-tab [disabled]="abaAvaliacao" label="AVALIAÇÕES">
            <app-avaliacoes [avaliacoes]="avaliacoes" [lista]="alunos" [conceitos]="listaConceito" [diario]="dialogRef"></app-avaliacoes>
        </mat-tab>
    </mat-tab-group>
</div>