<div class="d-flex flex-wrap justify-content-between align-items-center mt-4">
    <div class="d-flex text-muted">
        <h4>{{ instituicao?.nome }}</h4>
        <h4>&nbsp;/&nbsp;{{ periodo?.nome }}</h4>
        <h4 *ngIf="breadcrumb.turma">&nbsp;/&nbsp;{{ breadcrumb.turma }}</h4>
        <h4 *ngIf="breadcrumb.disciplina">&nbsp;/&nbsp;{{ breadcrumb.disciplina }}</h4>
        <h4 *ngIf="breadcrumb.divisao">&nbsp;/&nbsp;{{ breadcrumb.divisao }}</h4>
    </div>
    <div class="d-flex">
        <button *ngIf="breadcrumb.turma" mat-icon-button matTooltip="Pendências de Avaliação"
            (click)="abrirPendenciasAvaliacao($event)">
            <mat-icon class="material-icons">notifications_active</mat-icon>
        </button>
    </div>
</div>

<nav mat-tab-nav-bar [tabPanel]="tabPanel" mat-stretch-tabs="false" mat-align-tabs="start">
    <a mat-tab-link
        *ngFor="let link of navLinks"
        [routerLink]="link.link"
        routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive"
        [disabled]="!breadcrumb[link.link] && !rla.isActive"
        (click)="resetTab(link.link)">
        {{ link.label }}
    </a>
</nav>
<mat-tab-nav-panel #tabPanel>
    <router-outlet></router-outlet>
</mat-tab-nav-panel>